* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }
   
   body {
     font-family: Arial, sans-serif;
   }
   
   .products {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     gap: 20px;
     padding: 20px;
   }
   
   .product-card {
     width: 30%;
     border: 1px solid #ddd;
     padding: 10px;
     text-align: center;
     background-color: #f9f9f9;
     border-radius: 8px;
     transition: transform 0.3s ease;
   }
   
   .product-card:hover {
     transform: scale(1.05);
   }
   
   .product-card img {
     width: 100%;
     height: auto;
     border-radius: 8px;
   }
   
   .product-card h3 {
     margin: 10px 0;
   }
   
   .product-card p {
     font-size: 1.2em;
     color: #333;
   }
   
   .add-to-cart {
     background-color: #697780;
     color: white;
     border: none;
     padding: 10px 20px;
     font-size: 1em;
     cursor: pointer;
     border-radius: 5px;
     margin-top: 10px;
     transition: background-color 0.3s ease;
   }
   
   .add-to-cart:hover {
     background-color: #2c312c;
   }
   